.social-login-btn{
  background-color: green;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

#google{
  background-color: #db4437;
  border: 1px solid #db4437;
  color: white;
}

#google:hover{
  background-color: white;
  border: 1px solid rgb(0, 104, 74);
  color: #000;
}

#github{
  background-color: #199fb7;
  border: 1px solid #199fb7;
  color: white;
}

#github:hover{
  background-color: white;
  border: 1px solid rgb(0, 104, 74);
  color: #000;
}

#facebook{
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: white;
}

#facebook:hover{
  background-color: white;
  border: 1px solid rgb(0, 104, 74);
  color: #000;
}